@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px black inset !important;
  -webkit-text-fill-color: white !important; /* Text color */
  transition: background-color 300s ease-in-out 0s;
}

/* body {
  font-family: Arial, Helvetica, sans-serif;
} */
/* 
.tag::before {
  height: 1.5rem;
  width: 1.5rem;
  content: "";
  position: absolute;
  background-color: transparent;
  top: .7px;
  left: -1.5rem;
  z-index: 8;
  border-top-right-radius: 1rem;
  box-shadow: .7rem -.1rem #ffffff;
}

.tag::after {
  height: 1.5rem;
  width: 1.5rem;
  content: "";
  position: absolute;
  background-color: transparent;
  top: .7px;
  left: -1.5rem;
  z-index: 8;
  border-top-right-radius: 1rem;
  box-shadow: .7rem -.1rem #ffffff;
} */
